/* =============================================================================
    SUMMARY 

    Custom properties - Breakpoints for media queries: 0 => 700px => 1080px => 1400px +

    General styling

    Header
        Nav
        Nav toggle
        Burger when open
        Burger when closed

    Hero

    Abstract

    Project cards
        Titles
        Project cards

    Contact me

    Footer

============================================================================== */

/* =========================================================================================
    Custom properties
========================================================================================= */
:root {
    --light_grey: rgb(190, 190, 190);
    --light_gradient: linear-gradient(30deg, rgb(165, 165, 165) 0%, rgb(190, 190, 190) 100%);
    --lighter_gradient: linear-gradient(30deg, rgb(190, 190, 190) 0%, rgb(255, 255, 255) 100%);
    --white_gradient: linear-gradient(30deg, rgb(230, 230, 230) 0%, rgb(255, 255, 255) 100%);

    --dark_grey: rgb(60, 60, 60);
    --dark_gradient: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 100%);

    /* --light_accent: rgb(85, 190, 175);
    --dark_accent: rgb(35, 130, 115);
    --accent_gradient: linear-gradient(220deg, rgb(85, 190, 175) 0%, rgb(35, 130, 115) 100%); */

    --light_accent: rgb(250, 130, 30);
    --dark_accent: rgb(209, 94, 0);
    --accent_gradient: linear-gradient(190deg, rgb(250, 130, 30) 0%, rgb(209, 94, 0) 100%);
}

/* =========================================================================================
    General styling
========================================================================================= */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--dark_grey);
}

p {
    font-size: 1rem;
    line-height: 1.5;
}
@media (min-width: 700px) and (max-width: 1080px) {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}
@media (min-width: 1081px) {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}

/* =========================================================================================
    Header
========================================================================================= */
header {
    width: 100vw;
    height: 3rem;
    background: var(--dark_gradient);
}
/* @media (min-width: 700px) and (max-width: 1080px) {
    header {
        background: magenta;
    }
}

@media (min-width: 1081px) and (max-width: 1400px) {
    header {
        background: chartreuse;
    }
}

@media (min-width: 1401px) {
    header {
        background: rgb(0, 183, 255);
    }
} */

/* Nav ===================================================================== */
.nav {
    position: fixed;
    background: var(--dark_gradient);
    color: var(--dark_grey);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav_link {
    color: inherit;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
.nav_link:hover,
.nav_link:focus {
    border: 2px solid var(--light_grey);
    color: var(--light_grey);
}

/* Nav toggle =============================================================== */
.nav_toggle {
    padding: 0.5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    z-index: 1000;
}

/* Burger when open ================================================== */
.nav_open .nav {
    transform: translateX(0);
}
.nav_open .nav_toggle {
    position: fixed;
}
.nav_open .hamburger {
    transform: rotate(0.625turn);
}
.nav_open .hamburger::before {
    transform: rotate(90deg) translateX(-8px);
}
.nav_open .hamburger::after {
    opacity: 0;
}

/* Burger when closed ======================================================= */
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--light_accent);
    width: 2rem;
    height: 4px;
    /* border-radius: 1rem; */
    transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before { top: 8px; }
.hamburger::after { bottom: 8px; }

/* =========================================================================================
    Hero
========================================================================================= */
#hero_container {
    padding: 5vh 5vw;
    background: var(--light_gradient);
}

.hero {
    /* border: 1px solid purple; */
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    width: 90vw;
    height: 39vw;
    position: relative;
}

#hero_img {
    width: 20vw;
    position: absolute;
    top: -1vw;
    left: 63vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 0 74%);    /* Clip-path disable outline and box-shadow */
}
#hero_img_wrap {
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));     /* This way the shadow follows the path */
}

#hero_back {
    /* border: 1px solid magenta; */
    width: 87vw;
    height: 34vw;
    background: var(--accent_gradient);
    position: absolute;
    top: 1vw;
    left: 1vw;
}

#hero_hi_wrap {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(2px -2px 3px rgba(50, 50, 0, 0.5));
}
#hero_hi {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4vw;
    
    width: 90vw;
    height: 35vw;
    background: var(--dark_gradient);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    position: absolute;
    top: 0vw;
    left: 0vw;
    font-size: 4vw;
    color: white;
}
#name {
    /* font-size: 4vw; */
    color: var(--light_accent);
}
@media (min-width: 1081px) {
    #hero_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero {
        /* padding: 5vh 15vw; */
        padding: 0;
        height: 25vw;
    }
    #hero_hi_wrap {
        /* border: 2px solid black; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
    #hero_hi {
        width: 45vw;
        height: 17.5vw;
        /* top: 0vw;
        left: 0vw; */
        font-size: 2vw;
        padding: 2vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #hero_back {
        width: 43.5vw;
        height: 17vw;
        /* top: 1vw;
        left: 1vw; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #hero_img {
        width: 10vw;
        top: -0.5vw;
        left: 31.5vw;
    }
}

/* =========================================================================================
    Abstract
========================================================================================= */
#abstract {
    width: 100vw;
    background: var(--dark_gradient);
    padding: 8vh 10vw;
    font-size: 1rem;
    color: white;
}
#abstract > h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--light_accent);
}
@media (min-width: 700px) {
    #abstract {
        padding: 8vh 20vw;
    }
    #abstract > h1 {
        font-size: 3rem;
    }
}
/* @media (min-width: 1081px) {
    #abstract > h1 {
        font-size: 3rem;
    }
} */
@media (min-width: 1401px) {
    #abstract {
        padding: 8vh 25vw;
    }
}

/* =========================================================================================
    Project cards
========================================================================================= */
#projects_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background: var(--light_gradient);
}
@media (min-width: 1081px) and (max-width: 1400px) {
    #projects_container {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

/* Titles ========================================================================= */
#titles_container {
    width: 100vw;
    padding: 5vh 10vw;
}
#projects_container_title {
    font-size: 2rem;
    font-weight: 900;
    color: var(--dark_grey);
    margin-bottom: 0.5rem;
}
#projects_container_subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark_accent);
}
@media (min-width: 700px) and (max-width: 1080px) {
    #projects_container_title {
        font-size: 3rem;
    }
    #projects_container_subtitle {
        font-size: 2.2rem;
    }
}
@media (min-width: 1081px) {
    #projects_container_title {
        font-size: 3rem;
    }
    #projects_container_subtitle {
        font-size: 2.2rem;
    }
}

/* Project cards ================================================================ */
.project_card {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin-bottom: 7vh;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.445); */
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));
}

.project_img {
    width: 100%;
}

.project_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1.5rem;
}

ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.7rem;
    line-height: 1.5;
    font-size: 1rem;
}

.links_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

a {
    all: unset;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--accent_gradient);
    border: 1px solid var(--light_accent);
    border-radius: 999px;
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.project_link:hover,
.project_link:focus,
.project_github_link:hover,
.project_github_link:focus {
    border: 1px solid var(--light_grey);
    color: var(--light_grey);
    transform: scale(1.05);
}
.project_link:focus:active,
.project_github_link:active {
    transform: translateY(3px);
}
@media (min-width: 700px) and (max-width: 1080px) {
    .project_content {
        padding: 2rem 3.5rem;
    }
    ul {
        font-size: 1.5rem;
    }
    a {
        font-size: 1.5rem;
        margin: 1rem;
    }
}
@media (min-width: 1081px) and (max-width: 1400px) {
    .project_card {
        justify-content: flex-start;
        width: 40vw;
        height: 78vh;
    }
    .project_title {
        font-size: 2rem;
    }
    .project_abstract {
        font-size: 1.1rem;
    }
    a {
        font-size: 1.3rem;
        margin: 1rem;
    }
}
@media (min-width: 1401px) {
    .project_card {
        flex-direction: row;
        align-items: flex-start;
    }
    .project_img {
        width: 40vw;
    }
    .project_content {
        width: 100%;
        padding: 2rem;
    }
    .project_title {
        font-size: 2rem;
    }
    .project_abstract {
        font-size: 1.1rem;
    }
    ul {
        font-size: 1.1rem;
    }
    a {
        font-size: 1.4rem;
        margin: 1rem;
    }
}

/* =========================================================================================
    Contact me
========================================================================================= */
#contact_me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background: var(--dark_gradient);
    padding: 5vh 5vw;
    font-size: 1rem;
    color: white;
}
#contact_me > h1 {
    font-size: 1.8rem;
    font-weight: 900;
    
    color: var(--light_accent);
}

#social_links_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3vh;
}

.social_link {
    text-align: center;
    margin-bottom: 2vh;
}
@media (max-width: 699px) {
    #contact_me > h1,
    #contact_me > p {
        margin: 0rem 15vw 1rem 15vw;
    }
}
@media (min-width: 700px) and (max-width: 1080px) {
    #contact_me {
        padding: 5vh 20vw;
    }
    #contact_me > h1 {
        font-size: 2.8rem;
    }
}
@media (min-width: 1081px) {
    #contact_me {
        padding: 5vh 30vw;
    }
    #contact_me > h1 {
        font-size: 3rem;
    }
}

/* =========================================================================================
    Contact Form
========================================================================================= */
.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    border-radius: 10px;
    width: 100%;
}

.form_element {
    margin: 1rem 0rem;
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));
    font-size: 1rem;
    background: var(--lighter_gradient);
}
.form_element:hover,
.form_element:focus {
    background: var(--white_gradient);
}

.form > input {
    padding: 1rem;
}
.form > input::placeholder {
    color: var(--dark_grey);
}

#textarea {
    padding: 1rem;
    height: 10rem;
    width: 100%;
}

#submit_button {
    padding: 1rem 2rem;
    font-weight: 700;
    line-height: 1.5;
}
#submit_button:hover,
#submit_button:focus {
    background: var(--accent_gradient);
    font-weight: 900;
}


/* =========================================================================================
    Footer
========================================================================================= */
footer {
    width: 100vw;
    /* height: 8rem; */
    background: var(--light_gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}
footer > a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 3rem;
    height: 3rem; */
    margin-top: 5vh;
    padding: 1rem;
    border-radius: 999px;
}
footer > a:hover, 
footer > a:focus {
    transform: scale(1.1);
}
footer > a:active {
    /* transform: translateY(3px); */
    transform: scale(0.9);
}

/* ----------------------------------------- */

#follow_me {
    display: flex;
    align-items: center;
}
.social_link {
    all: unset;
}

.social_link > img {
    margin: 2vw;
    width: 4rem;
}
.social_link > img:hover,
.social_link > img:focus {
    background: var(--accent_gradient);
}
.social_link > img:active {
    transform: scale(0.9);
}

#img_linkedin {
    border: 6px double transparent;
    border-radius: 10px;
}
#img_linkedin:hover,
#img_linkedin:focus {
    border: 6px double black;
}

#img_github {
    border: 6px double transparent;
    border-radius: 16px;
}
#img_github:hover,
#img_github:focus {
    border: 6px double black;
}

#img_cv {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 5px;
}
#img_cv:hover,
#img_cv:focus {
    border: 2px solid black;
}

#img_journey {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 5px;
}
#img_journey:hover,
#img_journey:focus {
    border: 2px solid black;
}