/* =============================================================================
    SUMMARY

    Custom properties

    General styling

    Header

    Hero

    Abstract

    Project cards

    Contact me

    Footer

============================================================================== */

/* =========================================================================================
    Custom properties
========================================================================================= */
:root {
    --light_grey: rgb(190, 190, 190);
    --dark_grey: rgb(60, 60, 60);
    --light_gradient: linear-gradient(30deg, rgb(165, 165, 165) 0%, rgb(190, 190, 190) 100%);
    --dark_gradient: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 100%);
    --light_accent: rgb(85, 190, 175);
    --dark_accent: rgb(35, 130, 115);
    --accent_gradient: linear-gradient(220deg, rgb(85, 190, 175) 0%, rgb(35, 130, 115) 100%);
}

/* =========================================================================================
    General styling
========================================================================================= */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: rgb(58, 57, 56);
}

p {
    line-height: 1.5;
}

/* =========================================================================================
    Header
========================================================================================= */
header {
    width: 100vw;
    height: 6vh;
    background: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(58, 57, 56) 100%);
}

/* Nav ===================================================================== */
.nav {
    position: fixed;
    background: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(58, 57, 56) 100%);
    /* color: rgb(85, 192, 174); */
    color: rgb(58, 57, 56);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav_link {
    color: inherit;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
.nav_link:hover {
    border: 2px solid var(--light_grey);
    color: var(--light_grey);
}

/* Nav toggle =============================================================== */
.nav_toggle {
    padding: 0.5rem;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1000;
}
/* Burger when open ================================================== */
.nav_open .nav {
    transform: translateX(0);
}
.nav_open .nav_toggle {
    position: fixed;
}
.nav_open .hamburger {
    transform: rotate(0.625turn);
}
.nav_open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}
.nav_open .hamburger::after {
    opacity: 0;
}
/* Burger when closed ======================================================= */
.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    background: rgb(85, 192, 174);
    width: 2rem;
    height: 3px;
    border-radius: 1rem;
    transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}
.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* =========================================================================================
    Hero
========================================================================================= */
#hero_container {
    padding: 5vh 5vw;
    background: linear-gradient(30deg, rgb(167, 167, 167) 0%, rgb(190, 190, 190) 100%);
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 39vw;
    position: relative;
}

#hero_img {
    width: 20vw;
    position: absolute;
    top: -1vw;
    left: 63vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 0 74%);    /* Clip-path disable outline and box-shadow */
}
#hero_img_wrap {
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));     /* This way the shadow follows the path */
}

#hero_back {
    width: 87vw;
    height: 34vw;
    /* background: rgb(36, 131, 115); */
    background: linear-gradient(220deg, rgb(85, 192, 174) 0%, rgb(36, 131, 115) 100%);
    /* background: linear-gradient(30deg, rgb(167, 167, 167) 0%, rgb(190, 190, 190) 100%); */
    position: absolute;
    top: 1vw;
    left: 1vw;
}

#hero_hi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4vw;
    
    width: 90vw;
    height: 35vw;
    background: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(58, 57, 56) 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    position: absolute;
    top: 0vw;
    left: 0vw;
    font-size: 4vw;
    color: white;
}
#hero_hi_wrap {
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(2px -2px 3px rgba(50, 50, 0, 0.5));
}
#name {
    /* font-size: 4vw; */
    color: rgb(85, 192, 174);
}

/* =========================================================================================
    Abstract
========================================================================================= */
#abstract {
    width: 100vw;
    background: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(58, 57, 56) 100%);
    padding: 5vh 10vw;
    font-size: 1rem;
    color: white;
}
#abstract > h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: rgb(85, 192, 174);
}

/* =========================================================================================
    Project cards
========================================================================================= */
#projects_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background: linear-gradient(30deg, rgb(167, 167, 167) 0%, rgb(190, 190, 190) 100%);
}

#titles_container {
    width: 100vw;
    padding: 5vh 10vw;
}
#projects_container_title {
    font-size: 2rem;
    font-weight: 900;
    color: rgb(58, 57, 56);
    margin-bottom: 0.5rem;
}
#projects_container_subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(27, 116, 101);
}

.project_card {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin-bottom: 7vh;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.445); */
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));
}

.project_img {
    width: 100%;
}

.project_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1.5rem;
}

ul {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.7rem;
}

.links_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

a {
    all: unset;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(220deg, rgb(85, 192, 174) 0%, rgb(36, 131, 115) 100%);
    border-radius: 999px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.445); */
    filter: drop-shadow(-2px 3px 3px rgba(50, 50, 0, 0.5));
    color: rgb(54, 54, 53);
    font-weight: 700;
}

/* =========================================================================================
    Contact me
========================================================================================= */
#contact_me {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background: linear-gradient(30deg, rgb(80, 80, 80) 0%, rgb(58, 57, 56) 100%);
    padding: 5vh 10vw;
    font-size: 1rem;
    color: white;
}
#contact_me > h1 {
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: rgb(85, 192, 174);
}

#social_links_container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3vh;
}
#contact_link {
    width: 100%;
}
.social_link {
    text-align: center;
    width: 35%;
    margin-bottom: 2vh;
}

/* =========================================================================================
    Footer
========================================================================================= */
footer {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(30deg, rgb(167, 167, 167) 0%, rgb(190, 190, 190) 100%);
}